<% provide(:title, "Edit Task") %>

<div class="container">
  <h1>タスク編集</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: @task, url: {controller: 'tasks', action: 'update', id: @task.id }, local: true) do |f| %>
      
        <%= render 'shared/error_messages', object: @task %>
        
        <%= f.label :content, class: "label-form" %>
        <%= f.text_field :content, class: "form-control" %>
        <%= f.label :description, class: "label-form" %>
        <%= f.text_area :description, rows: 5, class: "form-control" %>
        <%= f.submit "更新", class: "btn btn-primary" %>
        <%= link_to "キャンセル", "#", class: "btn btn-default btn-form" %>
      <% end %>
      <%#= form_with(model: @task, local: true) do |f| %>
      
        <%#= render 'shared/error_messages', object: @task %>
        
        <%#= f.label :content, class: "label-form" %>
        <%#= f.text_field :content, class: "form-control" %>
        <%#= f.label :description, class: "label-form" %>
        <%#= f.text_area :description, rows: 5, class: "form-control" %>
        <%#= f.submit "更新", class: "btn btn-lg btn-primary" %>
      <%# end %>
      <%# if self.action: :edit %>
        
      <%# end %>
      
    </div>
  </div>
  
  
</div>